<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="@globules-io/cordova-plugin-google-play-age"
        version="0.0.3">
     <name>cordova-plugin-google-play-age</name>
     <description>Cordova plugin for Google Play Age Signals API (Android)</description>
     <license>MIT</license>
     <keywords>cordova,age,signals,google,play</keywords>
     <author email="info@globules.io">globules.io</author>
     <repository url="https://github.com/globules-io/cordova-plugin-google-play-age.git" />
     <engines>
          <engine name="cordova" version=">=10.0.0" />
     </engines>
     <platform name="android">
          <framework src="com.google.android.play:age-signals:0.0.2" type="gradleReference" />
          <source-file src="src/android/AgeSignalsPlugin.java" target-dir="io/globules/agesignals" />
          <config-file target="res/xml/config.xml" parent="/*">
               <feature name="AgeSignals">
                    <param name="android-package" value="io.globules.agesignals.AgeSignalsPlugin" />
               </feature>
          </config-file>
     </platform>
     <js-module src="www/AgeSignals.js" name="AgeSignals">
          <clobbers target="cordova.plugins.google.play.age" />
     </js-module>
</plugin>